$color-main: rgb(45, 131, 112);

$color-yellow: rgb(245, 236, 44);

$color-green: rgb(163, 192, 37);

$color-grey: rgb(235, 237, 238);

$color-dark-grey: rgb(223, 227, 228);

$color-blue: rgb(25, 141, 207);

$color-active: rgb(221, 17, 106);

$color-bg: rgb(255, 255, 255);
