
.countDown {
    display: flex;
    gap: 1rem;
    background-color: $color-milk;
  
    .counterItem {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      background: var(--blue);
  
      span.label {
        font-size: 0.8rem;
        color: $color-black;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-top: 0.1rem;
        background: $color-milk;
      }
  
      span.value {
        width: 100%;
        padding: 0 0.5rem;
        font-size: 4rem;
        color: $color-milk;
        text-align: center;
      }
  
      @media (max-width: 500px) {
        span.value {
          font-size: 2.5rem;
        }
      }
    }
  }