.element {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $color-milk;
    align-items: center;
    z-index: 999;
    margin: 40px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
    font-size: 20px;
    line-height: normal;
    height: 270px;
    width: 270px;
    opacity: 90%;
    border-radius: 50%;
    
  
    @media (max-width: 830px) {
      font-size: 20px;
    }
    
    @media (max-width: 555px) {
      padding: 45px 0px 20px;
      font-size: 20px;
      gap: 10px;
    }
  }
  
  .title {
    width: 207px;
    font-size: inherit;
    text-align: center;
    color: $color-black;
  }
  
  .img {
    background-color: $color-milk;
    max-width: 70px;
    max-height: 70px;

  }