.element {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $color-bg;
    align-items: center;
    z-index: 999;
    font-size: 15px;
    line-height: normal;
    height: 20%;
    width: 20%;
    border-radius: 5%;
    border: 5px;
    
    @media (max-width: 830px) {
      font-size: 25px;
    }
    
    @media (max-width: 555px) {
      padding: 45px 0px 20px;
      font-size: 22px;
      gap: 10px;
    }
  }