.wrapper{
	display: flex;
	flex-direction: column;
	gap: 1rem;
  align-items: center;
	min-height: 810px;;
	background-color: #171e26;
	position: relative;
  padding-top: 4rem;
  
	&:before{
		background: url('/img/bg-img-main.jpg') no-repeat;
    content: "";
    display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
    left: 0;
    background-size: cover;
	}


  @media (max-width: 830px) {
    font-size: 30px;
  }
  
  @media (max-width: 555px) {
    padding: 45px 0px 20px;
    font-size: 32px;
    gap: 10px;
  }
}

.group {
  display: flex;
  padding: 0px 80px 0px 80px;
  gap: 10px;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 1410px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0px 20px;
    font-size: 22px;
    gap: 30px;
  }

  @media (max-width: 555px) {
    font-size: 35px;
    gap: 10px;
  }

}
    
  
  