.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  align-items: center;
	min-height: 60vh;
	background-color: #171e26;
	position: relative;
  padding-top: 4rem;
  
	&:before{
		background: url('src/assets/img/bg-img-main.jpg') no-repeat;
    content: "";
    display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
    left: 0;
    background-size: cover;
	}


  @media (max-width: 830px) {
    font-size: 15px;
  }
  
  @media (max-width: 555px) {
    padding: 45px 0px 20px;
    font-size: 22px;
    gap: 10px;
  }
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;

}
    
  
  