
.element {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: $color-milk;
    align-items: flex-start;
    z-index: 999;
    font-size: 20px;
    text-align: center;
    line-height: normal;
    min-height: 320px;
    
    @media (max-width: 830px) {
      font-size: 15px;
    }
    
    @media (max-width: 555px) {
      padding: 45px 0px 20px;
      font-size: 12px;
      gap: 10px;
    }
  }
  
  .title {
    width: 347px;
    font-size: inherit;
    text-align: center;
    width: min-content;
    color: $color-black;
  }
  
  .img {
    background-color: $color-milk;
    max-width: 44px;
    max-height: 50px;

  }