.main {
    margin: 0;
    background-color: #213547;
    place-items: center;
    min-width: 100vw;
    min-height: 100vh;

  @media (max-width: 830px) {
    font-size: 15px;
  }
  
  @media (max-width: 555px) {
    font-size: 22px;
    gap: 10px;
  }
}
    
  
  